@font-face {
	font-family: 'McLaren';
	src: url('./assets/fonts/McLaren-Regular.ttf');
}
@font-face {
	font-family: 'Varta';
	src: url('./assets/fonts/Varta-VariableFont_wght.ttf');
}

:root {
	font-size: 16px;
}

body,
html {
	font-family: 'Varta', sans-serif;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	font-family: 'Varta', sans-serif;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'McLaren', sans-serif;
	margin: 0;
}

.animation-move-up {
	animation-name: animation-move-up;
	animation-timing-function: ease-in-out;
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
}

@keyframes animation-move-up {
	0% {
		opacity: 0;
		translate: 0 20px;
	}

	100% {
		opacity: 1;
		translate: 0 0;
	}
}

.animation-height {
	animation-name: animation-height;
	animation-timing-function: ease-in-out;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
}

@keyframes animation-height {
	0% {
		opacity: 0;
		translate: 0 20px;
		height: 0;
	}

	100% {
		opacity: 1;
		translate: 0 0;
		height: 100;
	}
}
